extends layout

block content
  h1 Introducción a los Sistemas de Control 2022
  p 
    label(id="lbl_mensaje_del_mcu") Mensaje del MCU

  p
    input("type"="button",value="LED ON",id="btn_on",class="btn btn-success")
  p
    input("type"="button",value="LED OFF",id="btn_off",class="btn btn-danger")    
